@model TheWeb.Models.project

@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/JavaScript1.js"></script>

    <div class="container">
        <div class="col-md-5">
            <div class="form-area">
                <form role="form" novalidate="novalidate" action="/Projects/Create" method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Create New Project</h3>
                    <div class="form-group">
                        <input class="form-control" id="name" name="Name Project" value="" type="text" placeholder="Project Name">
                        <span class="field-validation-valid" data-valmsg-for="NameProject" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">

                        <input class="form-control" data-val="true" data-val-date="The field deadlineToFinish must be a date." data-val-required="The deadlineToFinish field is required." id="deadlineToFinish" name="deadlineToFinish" value="" type="date" placeholder="dead line To Finish" required>

                    </div>

                    <div class="form-group">
                        <input class="form-control" id="local" name="local" value="" type="text" placeholder="local">
                        <span class="field-validation-valid" data-valmsg-for="local" data-valmsg-replace="true"></span>


                    </div>
                    <div class="form-group">
                        <input class="form-control" id="AboutTheProject" name="AboutTheProject" placeholder="About The Project" maxlength="140" value="" type="text">
                       

                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" id="emailContact" name="emailContact" placeholder="email Contact" required>
                        <span class="field-validation-valid" data-valmsg-for="emailContact" data-valmsg-replace="true"></span>
                    </div>
                    
                    <div class="btn-group">
                        <button class="btn btn-mini">Action</button>
                        <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"> 
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <!-- dropdown menu links -->
                        </ul>
                    </div>
                    

                    <button value="Create" type="submit" id=" submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
                  @*  <p>
        <input value="Create" type="submit">
    </p>*@
                </form>


                <div>
                    <a href="/Projects">Back to List</a>
                </div>




            </div>
        </div>
    </div>

    |@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
