@model TheWeb.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<hgroup class="title">
    <h1>Log in.</h1>
</hgroup>

<section id="loginForm">
    <h2>Use a local account to log in.</h2>
    <form novalidate="novalidate" action="/Account/Login" method="post">
        <input name="__RequestVerificationToken" value="ubrOXtm4Cq9-iiErlhxbBjYTC5iay2rLe0Vc9cTfHMKNPBa3ywI_hcpu45W1DEt3Fxrc-lDTka0h-B-0loJeq1HzinI1gfA3gAsKykEoKJCmfHS7KqCRGsmcQJBxmJXny-n8SP6lfwXKLeNKldlelDIyZZZEqzXnSlS_rda6BNI1" type="hidden">    <fieldset>
            <legend>Log in Form</legend>
            <ol>
                <li>
                    <label for="UserName">User name</label>
                    <input data-val="true" data-val-required="The User name field is required." id="UserName" name="UserName" value="" type="text">
                    <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                </li>
                <li>
                    <label for="Password">Password</label>
                    <input data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password">
                    <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </li>
                <li>
                    <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" value="true" type="checkbox"><input name="RememberMe" value="false" type="hidden">
                    <label class="checkbox" for="RememberMe">Remember me?</label>
                </li>
            </ol>
            <input value="Log in" type="submit">
        </fieldset>
        <p>
            <a href="/Account/Register">Register</a> if you don't have an account.
        </p>
    </form>
</section>

<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    <div class="message-info">
        <p>
            There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=252166">this article</a>
            for details on setting up this ASP.NET application to support logging in via external services.
        </p>
    </div>

</section>

<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
